body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}

.peak_names {
	font-family: ui-sans-serif, system-ui;
	margin-bottom: 0 !important;
}

.peak_height {
	font-size: small;
}

.p-height {
	margin-top: 0 !important;
}

.links {
	padding: 10px;
	margin:  10px;
	margin-top: 0px;
	padding-top: 0px;
    margin-bottom: 0px;
}

.route_link {
	display: block;
	max-width: 200px;
    width: 100%;
    margin-bottom: 3px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.route_description {
	margin: 0.5em 0 !important;
}

.box {
    user-select: none;
    cursor: pointer;
	float: right;
	font-size: xx-large;
}

.overlay {
	position: absolute;
	z-index: 10000;
	max-width: 900px;
	width: 100%;
	padding: 1%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

#login-overlay {
    z-index: 20000;
}

.login-form {
    margin: 2%;
    padding: 5%;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #151515;

}

.login-form label {
    display: inline-block;
    width: 75%;
    text-align: left;
    font-size: x-small;
}


.login-form label:after {
    content: ":";
}

.login-form input {
    width: 75%;
}

.login-submit-btn {
    margin-top: 3%;
    width: 50% !important;
    background-color: gray;
    padding: 2%;
    box-shadow: 0 2px 0 rgb(75, 75, 75);
    cursor: pointer;
}

.login-submit-btn:hover {
    background-color: #2c3e50;
    color: white;
}

.login-overlay {
    text-align: center;
}

.form-error-message {
    color: red;
    /* bold */
    font-weight: 600;
}

#logout-button {
    margin-left: 5%;
    font-size: x-small;
}

.dificultat-item {
    margin: 0 !important;
    padding: 0;
}

.dificultat-title {
    text-align: center;
    display: block;
    margin: 0 !important;
    margin-bottom: 2% !important;
}

.dificultats {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#wc-overlay {
	text-align: center;
	font-family: ui-sans-serif, system-ui;
	position: absolute;
	z-index: 10000;
	max-width: 900px;
	width: 100%;
	padding: 1%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

.centered-axis-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/*
.ruta-props-warp {
    display: grid;
    /*
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0px;
    margin: 0 auto;

}

.propietat-ruta {
    margin: 0 !important;
}
*/


.props-table {
    border-collapse: collapse;
    width: 100%;

    /* center horizontally */
    margin-left: auto;
    margin-right: auto;
}

.props-table td, .props-table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 1%;
    text-align: center !important;
}

.table-element {
    max-width: 15ch;
}

.wc-text {
	text-align: center !important;
} 

#wc-img {
	max-width: 900px;
	/* Pot distorsionar alguna imatge */
	max-height: 550px;
	width: 100%;
	height: auto;
}

#wc-range {
	padding: 10px;
	float: left;
	max-width: 400px;
	width: 50%;
}

#wc-footer {
	text-align: left;
	margin-bottom: 0;
	padding: 10px;
}

.spinner {
	margin: auto;
	border: 4px solid rgba(0, 0, 0, 0.1);
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border-left-color: #09f;

	animation: spin 1s ease infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* Card cims */

#cim-info-overlay {
    right: 0%;
    bottom: 0%;
    z-index: 9999;
    width: 100%;
    max-width: 500px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif;
    margin: 1%;

    max-height: 50%;
    overflow: auto;
}

.cim-card {
    padding: 2%;
}

@media only screen and (max-width: 600px){
    #cim-info-overlay {
        margin: 0;
        max-height: 40%;
    }

    .cim-card {
        padding: 5%;
        padding-bottom: 1%;
    }
}


.overlay-close {
    position: absolute;
    top: 1%;
    right: 1%;
    cursor: pointer;
}

.route-select-btn {
    margin-left: 3px;
}


.card-cim-header {
    padding-bottom: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-cim-name {
    font-size: x-large;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

#route-selector {
    float: right;
    display: flex;
    align-items: flex-end;
}

.card-cim-height {
    font-size: small;
    color: #0078a8;
    margin: 0;
    margin-left: 5px;
    padding: 0;
}

.card-cim-height::after {
    content: "m";
}

.card-cim-route-title {
    text-align: center;
    font-size: medium;
}

.cim-card-route-description {
    font-size: small;
}

#card-cim-dificultats {
    margin: 0;
    padding: 0;
    margin-top: 2%;
    float: right;
    width: 50%;
}

.card-cim-route {
    border-top: 1px #9d9d9d solid;
}

#route-data {
    float: left;
    width: 50%;
    margin-top: 2%;
}

.card-cim-route-item {
    align-items: center;
    display: flex;
    padding: 3px;
    font-size: small;
}

@media only screen and (min-width: 600px){
    .card-cim-route-item {
        font-size: medium;
    }
}

.card-cim-route-item img {
    margin-right: 3px;
}

.card-cim-dificultat-item {
    padding: 3px;
}

.card-cim-dificultat-title {
    font-size: small;
    margin-bottom: 3px;
    font-weight: 400;
    color: #676767;
    margin-top: 0;
}

@media only screen and (min-width: 600px){
    .card-cim-dificultat-title {
        font-size: medium;
    }
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}
			
.progress-bar-fill {
    display: block;
    height: 4px;
    background-color: #659cef;
    border-radius: 3px;
    transition: width 500ms ease-in-out;
}

.cim-card-btn {
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    cursor: pointer;
    background-color: #9d9d9d;
    border-bottom: 1px solid #676767;
    padding: 3px;
    text-align: center;
    font-size: x-small;
}

.cim-card footer {
    display: flex;
    justify-content: space-around;
}

#card-cim-ressenyes h2 {
    font-size: medium;
    margin: 0;
    padding: 0;
    margin-top: 2%;
    clear: both;
    display: inline-block;
    width: 100%;
}

#card-cim-ressenyes ul {
    font-size: small;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: none;
    padding: 0;
}

/* End card cims */

#plujaoneu-overlay {
	font-family: ui-sans-serif, system-ui;
	position: absolute;
	z-index: 10000;
	right: 0%;
    bottom: 5%;
	max-width: 300px;
	width: 70%;
	padding: 1%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

#logo-overlay {
	position: absolute;
	z-index: 1000;
    bottom: 0%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);

}

#logo-overlay img {
	max-height: 100px;
	height: 5%;
	width: auto;
    padding-top: 5%;
    padding-right: 10px;
    padding-left: 10px;
}

#logo-overlay p {
    font-family: ui-sans-serif, system-ui;
    font-size: small;
    text-align: center;
    padding: 0;
    padding-top: 3%;
    margin: 0;
}

#logo-overlay p a {
    background-color: rgb(211, 211, 211);
    padding: 2%;
    box-shadow: 0 2px 0 rgb(75, 75, 75);
    cursor: pointer;
}

#logo-overlay p a:hover {
    background-color: #2c3e50;
    color: white;
}

.section-select-dificultat {
    display: flex;
    margin: 2%;
    width: 50%;
    max-width: 250px;
}

#dificultat-selects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    max-width: 500px;
    margin: 0 auto;
}

#dificultat-selects-container label {
    margin-right: 5%;
}

#dificultat-selects-container label::after {
    content: ":";
}

#afegir-dificultat {
    cursor: pointer;
}

#bpa-svg {
    max-width: 35px;
    height: auto;
    float: right;
    transition: all 0.5s;
	transform-origin: 50% 50%;
}

#bpa-svg:hover {
	transform: scale(3);
}

.refu-people-img {
	vertical-align: middle;
    max-width: 35px;
    height: auto;
}

.refu-people {
	float: right;
}

.custom-popup .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:12px;
  text-align: center;
  vertical-align: middle;
  padding: 0;
}

.custom-popup .leaflet-popup-content-wrapper a {
    color:rgba(255,255,255,0.1);
}

.custom-popup .leaflet-popup-tip-container {
  /*width:4%;
  height:2%;*/
}

.custom-popup .leaflet-popup-tip {
    background: transparent;
    border: none;
    box-shadow: none;
}

/* ----- */

.legend {
	bottom-margin: 20px;
}

.legend .legend-scale {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.legend-labels {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.legend .legend-scale {
	margin-bottom:  50px;
}

.legend .legend-scale ul li {
    display: block;
    float: left;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: initial;
}

.legend ul.legend-labels li span:first-of-type {
    border: 1px solid rgba(44,62,80,0.4);
}

.legend ul.legend-labels li span {
    float: left;
    height: 7px;
    width: 11px;
    text-align: center;
}

.legend .label {
    clear: both;
    font-size: .65em;
    text-align: center;
    font-family: "Roboto",Arial,sans-serif;
    position: relative;
    left: 10px;
}
